<a href="https://colab.research.google.com/github/Ahbin-Park/abinushka/blob/Python/Codeit_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4_Topic2_DataFrame_20210710_F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataFrame 다루기**

## **Pandas와 DataFrame 생성**

In [ ]:
import pandas as pd

In [ ]:
two_dimensional_list = [['dongwuk', 50, 86], ['sineui', 89, 31], ['yoonsoo', 88, 75]]

In [ ]:
my_df = pd.DataFrame(two_dimensional_list, columns = ['name', 'english_score', 'math_score'], index=['a','b','c'])
my_df

      name  english_score  math_score
a  dongwuk             50          86
b   sineui             89          31
c  yoonsoo             88          75

In [ ]:
type(my_df)

pandas.core.frame.DataFrame

- DF 내에서 여러가지 자료형을 가질 수 있음. 단, 같은 컬럼 내에서는 같은 자료 형.

In [ ]:
#각 컬럼들의 데이터 타입도 조회
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

### DataFrame을 만드는 다양한 방법
- From list of lists, array of arrays, list of series
- From dict of lists, dict of arrays, dict of series 
- From list of dicts (사전이 담긴 리스트)

**Series 관련 : https://nittaku.tistory.com/110

In [ ]:
# From list of lists, array of arrays, list of series
import numpy as np
import pandas as pd

two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]  #lists
two_dimensional_array = np.array(two_dimensional_list) #array로 변환하여 만들기
list_of_series = [
    pd.Series(['dongwook', 50, 86]), 
    pd.Series(['sineui', 89, 31]), 
    pd.Series(['ikjoong', 68, 91]), 
    pd.Series(['yoonsoo', 88, 75])
] #시리즈 형태의 것들을 변환

# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_array)
df3 = pd.DataFrame(list_of_series)

print(df1)
print(df2)
print(df3)

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75
          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75
          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [ ]:
 #From dict of lists, dict of arrays, dict of series
## 사전의 key로는 column 이름을 쓰고, 그 column에 해당하는 리스트, numpy array, 혹은 pandas Series를 사전의 value로 넣어주면 됩니다.

names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

dict1 = {
    'name' : names,
    'english_score' : english_scores,
    'math_score' : math_scores
}

dict2 = {
    'name' : np.array(names),
    'english_score' : np.array(english_scores),
    'math_score' : np.array(math_scores)
}

dict3 = {
    'name' : pd.Series(names),
    'english_score' : pd.Series(english_scores),
    'math_score' : pd.Series(math_scores)
}

#데이터프레임으로 변환
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

print(df1)
print(df2)
print(df3)

In [ ]:
#From list of dicts (사전이 담긴 리스트)

my_list = [
    {'name': 'dongwook', 'english_score': 50, 'math_score': 86},
    {'name': 'sineui', 'english_score': 89, 'math_score': 31},
    {'name': 'ikjoong', 'english_score': 68, 'math_score': 91},
    {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}
]

df = pd.DataFrame(my_list)
df

In [ ]:
# 실습 과제 
lists = [
        ['Taylor Swift',	'December 13, 1989',	'Singer-songwriter'],
        ['Aaron Sorkin',	'June 9, 1961',	'Screenwriter'],
        ['Harry Potter',	'July 31, 1980',	'Wizard'],
        ['Ji-Sung Park',	'February 25, 1981',	'Footballer']
        ]
df = pd.DataFrame(lists, columns = ['name', 'birthday','occupation'])
df

###Datatype

- int64	정수
- float64	소수
- object	텍스트
- bool	불린(참과 거짓)
- datetime64	날짜와 시간
- category	카테고리

### Pandas 로 데이터 읽어들이기

In [ ]:
import pandas as pd
iphone_df = pd.read_csv('iphone.csv', index_col = 0) # 파일 위치 폴더 경로 작성('~/~'), 0 해당 column을 index로 설정하기 (혹은 열 이름을 직접 지정해도됨)
#iphone_df = pd.read_csv('iphone.csv', index_col = 'Draw Date')

iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## **데이터프레임 인덱싱 (1)**

* loc
++ 인덱스를 기준으로 행 데이터 추출 (특정 index number/name 기준)
```
df.loc[row, column]
```
* iloc
++ 행 번호를 기준으로 행 데이터 추출(데이터의 순서, 몇 번째 행)

In [ ]:
import pandas as pd
iphone_df = pd.read_csv('iphone.csv', index_col = 0)

In [ ]:
#인덱싱하기

iphone_df.loc['iPhone 8', '메모리'] #['행','열']

'2GB'

In [ ]:
iphone_df.loc['iPhone X', :] # :의 의미: 처음부터 끝까지

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [ ]:
#위와 비교
print(iphone_df.loc['iPhone X']) #열 기준 조회!!
print(type(iphone_df.loc['iPhone X'])) #시리즈(판다스의 1차원 자료형)

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
iphone_df.loc[:,'출시일'] #모든 row[:]

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [ ]:
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

**2개 이상의 칼럼의 모든 행을 가져오고 싶을 때**
```
columns = [column1, column2]
df[columns]
df[[column1, column2]]
```

In [ ]:
#실습과제 (내가 푼 것 concat 활용)
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv')
hyundee_df = pd.read_csv('data/hyundee.csv')

df1= samsong_df.loc[:, ['요일', '문화생활비']]
df2= hyundee_df.loc[:, '문화생활비']

df = pd.concat([df1, df2], axis=1)
df.columns = ['day','samsong','hyundee']
df

In [ ]:
#비교 
#1. 활요할 데이터 컬럼만 확인
samsong_df['요일']
samsong_df['문화생활비']
hyundee_df['문화생활비']

#2. 파이썬 사전 만들기
dict = {
    'day' : samsong_df['요일'],
    'samsong' : samsong_df['문화생활비'],
    'hyundee' : hyundee_df['문화생활비']
}

#3. 데이터 프레임 만들기
combined_df = pd.DataFrame(dict)
combined df

## **데이터프레임 인덱싱 (2)**

In [ ]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
iphone_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [ ]:
iphone_df.loc[['iPhone X', 'iPhone 8']] # 괄호 2개

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [ ]:
iphone_df.loc['iPhone 8':'iPhone XS'] #슬라이싱을 통한 여러 건의 데이터프레임 조회

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [ ]:
iphone_df.loc[:'iPhone XS'] #슬라이싱을 통한 여러 건의 데이터프레임 조회

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [ ]:
#컬럼으로 슬래시 (모든 열에 대해, 조회하고싶은 컬럼)
iphone_df.loc[:, '메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

- bolean으로 불러오기

In [ ]:
iphone_df.loc[[True, False, True, True, False, True, False]]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [ ]:
iphone_df.loc[:, [True, False,True, True, False]]

                      출시일  메모리     출시 버전
iPhone 7       2016-09-16  2GB  iOS 10.0
iPhone 7 Plus  2016-09-16  3GB  iOS 10.0
iPhone 8       2017-09-22  2GB  iOS 11.0
iPhone 8 Plus  2017-09-22  3GB  iOS 11.0
iPhone X       2017-11-03  3GB  iOS 11.1
iPhone XS      2018-09-21  4GB  iOS 12.0
iPhone XS Max  2018-09-21  4GB  iOS 12.0

In [ ]:
#데이터프레임 내 특정값과 비교하기 (bool)|
iphone_df['디스플레이'] > 5
print(iphone_df.loc[iphone_df['디스플레이'] > 5])

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
iphone_df.loc[iphone_df['Face ID'] == 'Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

- 여러가지 조건을 설정할 때
 >  & , |

In [ ]:
#두 조건 이상을 만족하는 값을 찾기
condition = (iphone_df['디스플레이'] > 5) & (iphone_df['Face ID'] == 'Yes')
#한가지 조건만 충족시켜도 되는경우는 (|) 기호 활용
iphone_df[condition]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

- iloc: 데이터프레임 위치로 인덱싱하기

In [ ]:
iphone_df.iloc[2,4]

'No'

In [ ]:
iphone_df.iloc[[1,3],[1,4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [ ]:
iphone_df.iloc[3:, 1:4] #행 3~마지막까지, 열은 1,2,3열까지

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

> df['x']는 'x'라는 column을 추출하고, df[slice]는 slice에 해당되는 row들을 추출합니다.

## **데이터프레임에 값 쓰기**

In [ ]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
#새로운 값으로 지정학리
iphone_df.loc['iPhone 8', '메모리'] = '2.5G'

In [ ]:
iphone_df.loc['iPhone 8', '출시버전'] = 'iOS 10.2'

In [ ]:
#특정 행의 열 값들을 바꿔주기
iphone_df.loc['iPhone 8'] = ['2016-09-22', '4.7', '2GB', 'iOS 11.0', 'No', '']
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID 출시버전
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  NaN
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  NaN
iPhone 8       2016-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  NaN
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  NaN
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  NaN
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  NaN

In [ ]:
#특정 컬럼의 값들을 바꿔주기
iphone_df['디스플레이'] = ['4.7 in', '5.5 in', '4.7 in', '4.7 in', '4.7 in', '4.7 in', '4.7 in']
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID 출시버전
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No  NaN
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No  NaN
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22  4.7 in  3GB  iOS 11.0      No  NaN
iPhone X       2017-11-03  4.7 in  3GB  iOS 11.1     Yes  NaN
iPhone XS      2018-09-21  4.7 in  4GB  iOS 12.0     Yes  NaN
iPhone XS Max  2018-09-21  4.7 in  4GB  iOS 12.0     Yes  NaN

In [ ]:
#모두 같은 값으로 바꿀 때
iphone_df['Face ID'] = 'Yes'
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID 출시버전
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0     Yes  NaN
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0     Yes  NaN
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0     Yes
iPhone 8 Plus  2017-09-22  4.7 in  3GB  iOS 11.0     Yes  NaN
iPhone X       2017-11-03  4.7 in  3GB  iOS 11.1     Yes  NaN
iPhone XS      2018-09-21  4.7 in  4GB  iOS 12.0     Yes  NaN
iPhone XS Max  2018-09-21  4.7 in  4GB  iOS 12.0     Yes  NaN

- 여러 줄을 한꺼번에 바꾸기

In [ ]:
iphone_df[['디스플레이', 'Face ID']] = 'x'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID 출시버전
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x  NaN
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x  NaN
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x  NaN
iPhone X       2017-11-03     x  3GB  iOS 11.1       x  NaN
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x  NaN
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x  NaN

In [ ]:
iphone_df.loc[['iPhone 7', 'iPhone X']] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID 출시버전
iPhone 7                o     o    o         o       o    o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x  NaN
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x  NaN
iPhone X                o     o    o         o       o    o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x  NaN
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x  NaN

In [ ]:
#연속된 row 바꾸기
iphone_df.loc['iPhone 7':'iPhone X'] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID 출시버전
iPhone 7                o     o    o         o       o    o
iPhone 7 Plus           o     o    o         o       o    o
iPhone 8                o     o    o         o       o    o
iPhone 8 Plus           o     o    o         o       o    o
iPhone X                o     o    o         o       o    o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x  NaN
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x  NaN

In [ ]:
import pandas as pd
iphone_df = pd.read_csv('iphone.csv', index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [ ]:
iphone_df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [ ]:
iphone_df.loc[iphone_df['디스플레이'] > 5] = 'p'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     p    p         p       p
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     p    p         p       p
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

In [ ]:
iphone_df.iloc[[1,3],[1,4]] = 'v'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     v    p         p       v
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     v    p         p       v
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

## **데이터프레임 값 추가/삭제**

In [ ]:
import pandas as pd
iphone_df = pd.read_csv('iphone.csv', index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

*  행(row) 추가하기

In [ ]:
#행 추가하기
iphone_df.loc['iPhone XR'] = ['2018-10-26', '6.1', '3GB', 'iOS 11.0', 'No']
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes
iPhone XR      2018-10-26   6.1  3GB  iOS 11.0      No

*  열(column) 추가하기

In [ ]:
# 열추가
iphone_df['제조사'] = 'Apple'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  Apple
iPhone XR      2018-10-26   6.1  3GB  iOS 11.0      No  Apple

*  행 삭제 (aixs = 'index', inplace 옵션)

In [ ]:
iphone_df.drop('iPhone XR', axis = 'index', inplace= True) 
#inplace = Flase이면 데이터프레임에 영향을 주지 않음
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  Apple

* 열 삭제(axis = 'columns')

In [ ]:
iphone_df.drop('제조사', axis = 'columns', inplace = True)
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [ ]:
#여러 열을 없애줄 때는, 리스트[] 안에 넣어주면 됨
iphone_df.drop(['iPhone 7', 'iPhone 8', 'iPhone X'], axis = 'index', inplace= True) 
#inplace = Flase이면 데이터프레임에 영향을 주지 않음
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [ ]:
##연습문제 (값 넣을 때 인덱스 타입 확인)

df.loc[1, 'Weight (Pound)'] = 200 #특정 행,열의 값 바꾸기(데이터프레임.loc[행,열])
df.drop(21, axis='index', inplace = True)
df.loc[20] = [70, 200]

### index/column 생성하기

In [ ]:
import pandas as pd
liverpool_df = pd.read_csv('liverpool.csv', index_col = 0)

In [ ]:
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [ ]:
#컬럼명 변경하기 (새로운 데이터프레임으로 생성, 실제 DF바꾸려면 inplace = True 설정)
liverpool_df.rename(columns={'position': 'Position', 'born':'Born', 'number':'Number', 'nationality':'Nationality'}, inplace = True)
liverpool_df

                Position  Born  Number Nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [ ]:
#인덱스 이름 변경하기
liverpool_df.index.name = 'Player Name'
liverpool_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [ ]:
#다른 컬럼을 인덱스로 사용하고 싶을 때 (df.set_index(''))
liverpool_df.set_index('Number') 
#단, 없어지는 기존 컬럼을 새로운 컬럼으로 지정해줘야함

       Position  Born Nationality      Player Name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker

In [ ]:
#인덱스를 바꾸기 전에, 미리 새로운 컬럼으로 지정해줘야함(바꿀 컬럼)
liverpool_df['Player Name'] = liverpool_df.index
liverpool_df

                Position  Born  Number Nationality      Player Name
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [ ]:
liverpool_df.set_index('Number', inplace=True)
liverpool_df

       Position  Born Nationality      Player Name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker

* 인덱스는 겹치는 값이 없어야함(고유)

In [ ]:
##연습문제

import pandas as pd
    
df = pd.read_csv('data/toeic.csv')

# 코드를 작성하세요.
a = (df['LC'] >= 250) & (df['RC'] >= 250) & (df['LC'] + df['RC'] > 600)

"""
pass_total = df['LC'] + df['RC'] > 600
pass_both = (df['LC'] >= 250) & (df['RC'] >= 250)
"""

df['합격 여부'] = a
# 정답 출력
df

In [ ]:
##연습문제 (2)
#'B'에서 'E'까지의 column은 80보다 큰 것은 1, 작은 것은 0으로 바뀌었습니다.

# 80보다 작은 값은 0으로 변경
lowers = df.loc[:, 'B':'E'] < 80
df[lowers] = 0

# 80 이상의 값은 1로 변경
highers = df.loc[:, 'B':'E'] >= 80
df[highers] = 1

#혹은 아래와 같이 작성
df[df.loc[:, 'B':'E'] < 80] = 0
df[df.loc[:, 'B':'E'] >= 80] = 11

## **큰 데이터 다루기**



> * laptops_df.shape
> * laptops_df.head()
* laptops_df.tail()
* laptops_df.columns
* laptops_df.info() : 컬럼, 데이터 타입 등
*  laptops_df.describe() : 통계 데이터

In [ ]:
import pandas as pd
laptops_df = pd.read_csv('laptops.csv')
laptops_df

     brand             model  ram  ...       os  weight  comments
0     Dell  Inspiron 15-3567    4  ...    linux    2.50       NaN
1    Apple       MacBook Air    8  ...      mac    1.35       NaN
2    Apple       MacBook Air    8  ...      mac    1.35       NaN
3    Apple       MacBook Pro    8  ...      mac    3.02       NaN
4    Apple       MacBook Pro    8  ...      mac    3.02       NaN
..     ...               ...  ...  ...      ...     ...       ...
162   Asus            A555LF    8  ...  windows    2.30       NaN
163   Asus     X555LA-XX172D    4  ...    linux    2.30       NaN
164   Asus            X554LD    2  ...    linux    2.30       NaN
165   Asus    X550LAV-XX771D    2  ...    linux    2.50       NaN
166   Asus     X540LA-XX538T    4  ...  windows    2.30       NaN

[167 rows x 15 columns]

In [ ]:
laptops_df.head(9)

   brand                   model  ram  ...     os  weight             comments
0   Dell        Inspiron 15-3567    4  ...  linux    2.50                  NaN
1  Apple             MacBook Air    8  ...    mac    1.35                  NaN
2  Apple             MacBook Air    8  ...    mac    1.35                  NaN
3  Apple             MacBook Pro    8  ...    mac    3.02                  NaN
4  Apple             MacBook Pro    8  ...    mac    3.02                  NaN
5  Apple  MacBook Pro (TouchBar)   16  ...    mac    2.50                  NaN
6  Apple  MacBook Pro (TouchBar)   16  ...    mac    1.37                  NaN
7  Apple                MacBook     8  ...    mac    0.92                  NaN
8   Dell             Vostro 3468    4  ...  linux    1.76  Integrated Graphics

[9 rows x 15 columns]

In [ ]:
laptops_df.tail()

    brand           model  ram  ...       os  weight  comments
162  Asus          A555LF    8  ...  windows     2.3       NaN
163  Asus   X555LA-XX172D    4  ...    linux     2.3       NaN
164  Asus          X554LD    2  ...    linux     2.3       NaN
165  Asus  X550LAV-XX771D    2  ...    linux     2.5       NaN
166  Asus   X540LA-XX538T    4  ...  windows     2.3       NaN

[5 rows x 15 columns]

In [ ]:
laptops_df.shape

(167, 15)

In [ ]:
laptops_df.columns

Index(['brand', 'model', 'ram', 'hd_type', 'hd_size', 'screen_size', 'price',
       'processor_brand', 'processor_model', 'clock_speed',
       'graphic_card_brand', 'graphic_card_size', 'os', 'weight', 'comments'],
      dtype='object')

In [ ]:
laptops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   brand               167 non-null    object
 1   model               167 non-null    object
 2   ram                 167 non-null    int64
 3   hd_type             167 non-null    object
 4   hd_size             167 non-null    int64
 5   screen_size         167 non-null    float64
 6   price               167 non-null    int64
 7   processor_brand     167 non-null    object
 8   processor_model     167 non-null    object
 9   clock_speed         166 non-null    float64
 10  graphic_card_brand  163 non-null    object
 11  graphic_card_size   81 non-null     float64
 12  os                  167 non-null    object
 13  weight              160 non-null    float64
 14  comments            55 non-null     object
dtypes: float64(4), int64(3), object(8)
memory usage: 19.7+ KB

In [ ]:
laptops_df.describe()

              ram     hd_size  ...  graphic_card_size      weight
count  167.000000   167.00000  ...          81.000000  160.000000
mean     6.898204   768.91018  ...          52.160494    2.250812
std      3.787479   392.99080  ...         444.134142    0.648446
min      2.000000    32.00000  ...           1.000000    0.780000
25%      4.000000   500.00000  ...           2.000000    1.900000
50%      8.000000  1024.00000  ...           2.000000    2.200000
75%      8.000000  1024.00000  ...           4.000000    2.600000
max     16.000000  2048.00000  ...        4000.000000    4.200000

[8 rows x 7 columns]

In [ ]:
laptops_df.sort_values(by = 'price', ascending = False, inplace= True) #내림차순 정렬. sort는 실제 df에 영향을 주지 않는다! df 정렬 바꾸려면 inplace=True

In [ ]:
laptops_df

         brand  ...                                           comments
5        Apple  ...                                                NaN
90   Alienware  ...     Maximum Display Resolution : 1920 x 1080 pixel
96   Alienware  ...  13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31        Acer  ...                                Integrated Graphics
154  Microsoft  ...                                                NaN
..         ...  ...                                                ...
73        Acer  ...                                                NaN
100       Acer  ...                                                NaN
108       Acer  ...                                                NaN
83        Acer  ...                                                NaN
148       Acer  ...                                                NaN

[167 rows x 15 columns]

### 판다스 시리즈(series)로 조회

In [ ]:
laptops_df['brand'] #겹치는 브랜드명도 있음

5          Apple
90     Alienware
96     Alienware
31          Acer
154    Microsoft
         ...
73          Acer
100         Acer
108         Acer
83          Acer
148         Acer
Name: brand, Length: 167, dtype: object

In [ ]:
laptops_df['brand'].unique() #중복제거

array(['Apple', 'Alienware', 'Acer', 'Microsoft', 'HP', 'Dell', 'Lenovo',
       'Asus'], dtype=object)

In [ ]:
laptops_df['brand'].value_counts() #각 브랜드별 값 개수

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [ ]:
laptops_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

### 실습문제 (여행지 선정하기)

In [7]:
import pandas as pd
world_cities = pd.read_csv('world_cities.csv')

In [8]:
world_cities

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [9]:
world_cities['Country'].value_counts()

USA          105
France        15
Brazil        10
Canada         9
Germany        8
            ...
Ecuador        1
Peru           1
Argentina      1
Iraq           1
Greece         1
Name: Country, Length: 61, dtype: int64

In [10]:
world_cities['City / Urban area'].value_counts()

Bangalore        1
Poughkeepsie     1
Chicago          1
Lisbon           1
Mobile           1
                ..
Youngstown       1
Baku/Sumqayit    1
Port St Lucie    1
Washington       1
Frankfurt        1
Name: City / Urban area, Length: 249, dtype: int64

In [11]:
big_cities = world_cities.loc[world_cities['Population'] / world_cities['Land area (in sqKm)'] > 10000]
big_cities['City / Urban area'].describe()

count          19
unique         19
top       Chennai
freq            1
Name: City / Urban area, dtype: object

In [ ]:
##예시답안
df["Density"] = df["Population"] / df["Land area (in sqKm)"]
df_high_density = df[df["Density"] > 10000]
df_high_density.info()

In [ ]:
#인구밀도 가장 높은 도시
big_cities["Density"] = big_cities["Population"] / big_cities["Land area (in sqKm)"]
big_cities.sort_values(by = 'Density', ascending = False, inplace= True)
big_cities['City / Urban area']

In [22]:
#익중이는 누나에게 여행지를 추천 받으려고 합니다. 그런데 나라 이름이 기억나지 않고, 이 데이터에 4개의 도시가 나왔다는 것만 기억이 난다고 하네요. 이 나라는 무엇일까요?
number_of_countries = world_cities['Country'].value_counts()
number_of_countries[number_of_countries == 4]

Italy    4
Name: Country, dtype: int64

### 실습문제(2)

* 기존 DataFrame에 “status”라는 이름의 column을 추가하고, 학생이 수강 가능한 상태이면 “allowed”, 수강 불가능한 상태이면 “not allowed”를 넣어주세요.

1.   “information technology” 과목은 심화과목이라 1학년은 수강할 수 없습니다.
2.   “commerce” 과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.
3. 수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.

https://i.imgur.com/EAjEfBG.png

In [ ]:
#컬럼 만들기
df['status'] = 'allowed'

freshmen = (df['year'] == 1)
info_tech = (df['course name'] == 'information technology')
senior = (df['year'] == 4)
commerce = (df['course name'] == 'commerce')

#두 값에 & 불린 연산을 통해 두 조건을 동시에 만족하는 데이터 인덱싱
df.loc[freshmen & info_tech, "status"] = "not allowed"
df.loc[senior & commerce, "status"] = "not allowed"

course_counts = df.loc[df['status'] == 'allowed', 'course name'].value_counts()
#index만 골라서 리스트로 만들기 (신청자가 5명 이내인 경우)
closed_courses = list(course_counts[course_counts < 5].index)

for course in closed_courses:
  df.loc[df['course name'] == course, 'status'] = 'not allowed'

df

In [ ]:
#대학교 강의실 배정하기
import pandas as pd

df = pd.read_csv('data/enrolment_2.csv')

# 코드를 작성하세요.
df.loc[df['status'] == 'not allowed', 'room assignment'] = 'not assigned'
# 취소된 강의에도 강의실 배정이 되지 않도록 하기 위해 
allowed = df['status'] == 'allowed'
course_counts = df.loc[df['status'] == 'allowed', 'course name'].value_counts()
course_auditorium = list(course_counts[course_counts >= 80].index)
course_largeroom = list(course_counts[(course_counts >= 40) & (course_counts < 80)].index)
course_mediumroom = list(course_counts[(course_counts >= 15) & (course_counts < 40)].index)
course_smallroom = list(course_counts[(course_counts >= 5) & (course_counts < 15)].index)

for course in course_auditorium:
    df.loc[(df['course name'] == course) & allowed, 'room assignment'] = 'Auditorium'
for course in course_largeroom:
    df.loc[(df['course name'] == course) & allowed,'room assignment'] = 'Large room'
for course in course_mediumroom:
    df.loc[(df['course name'] == course) & allowed,'room assignment'] = 'Medium room'
for course in course_smallroom:
    df.loc[(df['course name'] == course) & allowed,'room assignment'] = 'Small room'

# 정답 출력
df

In [ ]:
# 강의실 배정하기(2) - 이렇게 풀필요없음
import pandas as pd

df = pd.read_csv('data/enrolment_3.csv')

# 코드를 작성하세요.
#Auditorium (아래처럼 리스트 만들어줄 필요 없음!)
adt = list(df[df['room assignment'] == 'Auditorium'].index)
lr = list(df[df['room assignment'] == 'Large room'].index)
mr = list(df[df['room assignment'] == 'Medium room'].index)
sr = list(df[df['room assignment'] == 'Small room'].index)
course_adt = df.loc[df['room assignment'] == 'Auditorium', 'course name'].unique()
course_lr = df.loc[df['room assignment'] == 'Large room', 'course name'].unique()
course_mr = df.loc[df['room assignment'] == 'Medium room', 'course name'].unique()
course_sr = df.loc[df['room assignment'] == 'Small room', 'course name'].unique()
course_list_adt = sorted(list(course_adt))
course_list_lr = sorted(list(course_lr))
course_list_mr = sorted(list(course_mr))
course_list_sr = sorted(list(course_sr))
#print(course_list_sm)
for course in course_list_adt:
    for room in adt:
       df.loc[df['course name'] == course, 'room assignment'] = 'Auditorium-' + str(course_list_adt.index(course)+1)
for course in course_list_lr:
    for room in lr:
       df.loc[df['course name'] == course, 'room assignment'] = 'Large room-' + str(course_list_lr.index(course)+1)
for course in course_list_mr:
    for room in mr:
       df.loc[df['course name'] == course, 'room assignment'] = 'Medium room-' + str(course_list_mr.index(course)+1)
for course in course_list_sr:
    for room in sr:
       df.loc[df['course name'] == course, 'room assignment'] = 'Small room-' + str(course_list_sr.index(course)+1)
#status - not allowed면, not assigned로 남겨두기
df.loc[df['status'] == 'not allowed', 'room assignment'] = 'not assigned'
df.rename(columns={'room assignment':'room number'})
# 정답 출력
df

In [ ]:
#모범답안
import pandas as pd

df = pd.read_csv('data/enrolment_3.csv')

# 과목별 인원 가져오기
allowed = df["status"] == "allowed"
course_counts = df.loc[allowed, "course name"].value_counts()

# 각 강의실 규모에 해당되는 과목 리스트 만들기
auditorium_list = list(course_counts[course_counts >= 80].index)
large_room_list = list(course_counts[(80 > course_counts) & (course_counts >= 40)].index)
medium_room_list = list(course_counts[(40 > course_counts) & (course_counts >= 15)].index)
small_room_list = list(course_counts[(15 > course_counts) & (course_counts > 4)].index)

# 강의실 이름 붙이기
for i in range(len(auditorium_list)):
    df.loc[(df["course name"] == sorted(auditorium_list)[i]) & allowed, "room assignment"] = "Auditorium-" + str(i + 1)

for i in range(len(large_room_list)):
    df.loc[(df["course name"] == sorted(large_room_list)[i]) & allowed, "room assignment"] = "Large-" + str(i + 1)
    
for i in range(len(medium_room_list)):
    df.loc[(df["course name"] == sorted(medium_room_list)[i]) & allowed, "room assignment"] = "Medium-" + str(i + 1)
    
for i in range(len(small_room_list)):
    df.loc[(df["course name"] == sorted(small_room_list)[i]) & allowed, "room assignment"] = "Small-" + str(i + 1)

# column 이름 바꾸기
df.rename(columns={"room assignment": "room number"}, inplace = True)
    
# 정답 출력
df