<a href="https://colab.research.google.com/github/Ahbin-Park/abinushka/blob/Python/Python_300_challenges_20210630.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**python 300 problems solving**
https://wikidocs.net/book/922

## **7. 파이썬 분기문**

In [ ]:
#115
time = input("nowtime: ")
if time[-2:] == '00':
  print("it is on time")
else:
  print("it is no on time")

In [ ]:
#117
word = input("")
if word in ["apple", "grape", "hongsi"]:
  print("Correct")
else:
  print("Incorrect")

Banana
Incorrect

In [ ]:
#118
target = input()
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
if target in warn_investment_list:
  print("It is a target in the warned list")
else:
  print("It is not ~")

Microsoft
It is a target in the warned list

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("Favorite season?: ")
if user in fruit.keys():
  #fruit.values() also possible.
  print("Correct")
else:
  print("Incorrect")

Favorite season?: 여름
Correct

In [ ]:
#121
a = input()
if a.islower():
  print(a.upper())
else:
  print(a.lower())

D
d

In [ ]:
currency_rate = {"달러": 1167,
                 "엔": 1.096,
                 "유로": 1268,
                 "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * currency_rate[currency], "원")

입력: 1000 달러
1167000.0 원

In [ ]:
a = int(input("input number1: ")) #should transfrom to int for comparison
b = int(input("input number2: "))
c = int(nput("input number3: "))

if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

input number1: 10
input number2: 20
input number3: 30
30

In [ ]:
#127
num = input("post number: ")
num_slice = num[:3]
if num_slice in ["010", "011", "012"]:
  print("강북구")
elif num_slice in ["014","015","016"]:
  print("도봉구")
else:
  print("노원구")

post number: 01453
도봉구

In [ ]:
#127
user = input("주민번호: ")
user = user.split("-")[1]
if user[0] == "1" or user[0] == "3":
  print("man")
else:
  print("woman")

주민번호: 931119-3030303
man

In [ ]:
#128
주민번호 = input("주민번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
  print("Seoul")
else:
  print("Not Seoul")

주민번호: 931119-2942516
Not Seoul

In [ ]:
#129

regis_number = input("legistration number: ")
regis_numbers = regis_number.split("-")[0] + regis_number.split("-")[1]
print(regis_numbers)
multiple = [2,3,4,5,6,7,8,9,2,3,4,5]

#list comprehension (리스트끼리 연산)
a = [int(regis_numbers[i]) * multiple[i] for i in range(len(multiple))]

result = 11 - (sum(a) % 11)

if regis_number[-1] != result:
  print("not effective number")
else:
  print("effective number")

legistration number: 821010-1635210
8210101635210
not effective number

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

print(btc)

시가 = btc['opening_price']
변동폭 = int(btc['max_price']) - int(btc['min_price'])
print(변동폭)

if int(시가)+int(변동폭) >= int(btc['max_price']):
  print("상승장")
else:
  print("하락장")

{'opening_price': '41844000', 'closing_price': '40875000', 'min_price': '40710000', 'max_price': '42194000', 'units_traded': '1601.57796218', 'acc_trade_value': '66586251199.5569', 'prev_closing_price': '41842000', 'units_traded_24H': '3790.37091286', 'acc_trade_value_24H': '156443992424.8505', 'fluctate_24H': '846000', 'fluctate_rate_24H': '2.11', 'date': '1625024779300'}
1484000
상승장

## **8. 파이썬 반복문**

In [ ]:
#remember this!!!
list = ["a","b","c","d"]
for i in list[::2]:
  print(i)

a
c

In [ ]:
변수.isupper() #upperletter True/False
변수.islower() #lowerletter True/False

In [ ]:
#158
list = ['hello.py', 'ex01.py', 'intro.hwp']
for i in list:
  i_split= i.split(".")
  print(i_split[0])

hello
ex01
intro

In [ ]:
#159
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in list:
  file = i.split(".")
  if file[1] == 'h' or file[1] == 'c':
    print(i)

intra.h
intra.c
define.h

In [ ]:
#162 range, 증감폭 define -> remember!

for year in range(2002, 2051, 4):
  print(year)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
#169
a = 0
for i in range(1,11):
  a += i
print(a)

55

In [ ]:
#170
a = 1
for i in range(1,11):
  a = a*i #a *= i
print(a)

3628800

In [ ]:
price_list = [30000,31000,32000,33000]
for i in range(1,4):
  print(90+10*i, price_list[i])

100 31000
110 32000
120 33000

In [ ]:
my_list = ["a","b","c","d"]
for i in range(len(my_list)-1):
  print(my_list[i], my_list[i+1])

a b
b c
c d

## **9. 파이썬 함수**

In [ ]:
#215
def print_with_smile(string):
  print(string + ":D")
print_with_smile("hi")

hi:D

In [ ]:
#217
def print_upper_price(price):

  print(price * 1.3)

In [ ]:
# value

dict = {"10/26": [1,2,3,4],
        "11/26": [4,5,6,7]}
def print_value_by_key(dict, a):
  print(dict[a])

print_value_by_key(dict, "10/26")

[1, 2, 3, 4]

In [5]:
#232
def make_url(a):
  url = "www." + a + ".com"
  return url

make_url("naver")

'www.naver.com'

In [7]:
#233
def make_list(a):
  return list(a)
make_list("abcd")

['a', 'b', 'c', 'd']

In [11]:
#234
even_list = []
def pickup_even(list):
  for i in list:
    if i % 2 == 0:
      even_list.append(i)
  return even_list

pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [19]:
#235 콤마가 포함된 문자열을 입력받아 정수로 변환하는 convert_int 함수
def convert_int(a):
  list = a.split(',')
  number = ""
  for i in range(len(list)):
    number += list[i]
  return int(number)

#모범답안
def convert_int (string) :
    return int(string.replace(',', ''))

convert_int("1,234,567")

1234567

## **11. 파이썬 클래스**

In [28]:
#251~260

class Human:
  def __init__(self, name, age, gender): #생성자1 (self) / 생성자2(name, age, gender)
    self.name = name
    self.age = age
    self.gender = gender
  def who(self):
    #print("이름: ", self.name, "나이: ", self.age, "성별: ", self.gender)
    #포맷팅
    print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.gender))
  def setinfo(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender


areum = Human("모름","미상","모름")
areum.who()
areum = Human("이름", 25, "여자")
areum.who()

#클래스 소멸자
del(areum)

이름: 모름 나이: 미상 성별: 모름
이름: 이름 나이: 25 성별: 여자

In [39]:
#261~270
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code
  def set_name(self, name):
    self.name = name
  def set_code(self, code):
    self.code = code

#삼성 = Stock("삼성전자", "005930")
a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)
a.set_code("005930")
print(a.code)

삼성전자
005930

In [42]:
#261~265
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code
  def set_name(self, name):
    self.name = name
  def set_code(self, code):
    self.code = code
#위에서 정의한 값들을 불러오기(self)
  def get_name(self):
    return self.name
  def get_code(self):
    return self.code

삼성 = Stock("삼성전자", "005930")
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930

In [48]:
#266~270
class Stock:
  def __init__(self, name, code, per, pbr, dividend_yield):
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.dividend_yield = dividend_yield
  def set_name(self, name):
    self.name = name
  def set_code(self, code):
    self.code = code
  def set_per(self, per):
    self.per = per
  def set_pbr(self, pbr):
    self.pbr = pbr
  def set_dividend_yield(self, ividend_yield):
    self.dividend_yield = dividend_yield
  def get_name(self):
    return self.name
  def get_code(self):
    return self.code

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
삼성.per

12.75

In [52]:
삼성전자 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

#stock_list = []
stock_list.append(삼성)
stock_list.append(현대차)
stock_list.append(LG전자)

for stock in stock_list:
  print(stock.code, stock.per)

005930 15.79
005380 8.7
066570 317.34
005930 12.75
005380 8.7
066570 317.34