<a href="https://colab.research.google.com/github/Ahbin-Park/beluga/blob/main/python_code_review_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## string

In [ ]:
c = '''Hello
World'''

d = """Hello
World"""

print(c)
print(d)

Hello
World
Hello
World

In [ ]:
#escape string
 print('Hello world\n\n') #\n (new line)
 print('Ha\thahaha') #\t (tab)

IndentationError: ignored

In [ ]:
#indexing & slicing string
a = 'Hello World'
print(a[3])

print(a[0:4])
print(a[:4])

l
Hell
Hell

**문자열함수**
- replace('a','b') : a -> b
- format
- split

In [ ]:
a = 'hello world'
a.replace('h', 'b')

'bello world'

In [ ]:
temperature = 25.5
prob = 80.0

a = "today's temperature is {}, and {} % possibility of rain.".format(temperature, prob)
print(a)

today's temperature is 25.5, 80.0 % possibility of rain.

In [ ]:
a = 'hello world what a nice weather'
a.split('w')

['hello ', 'orld ', 'hat a nice ', 'eather']

## dictionary

In [ ]:
a = {'Korea':'Seoul', 'Canada':'Ottawa', 'USA':'Washington D.C'}
b = {0:1, 1:6}
print(b)

{0: 1, 1: 6}

In [ ]:
#. key 업데이트
a = {'Korea':'Seoul',
     'Canada':'Ottawa',
     'USA':'Washington D.C'}

a['Japan'] = 'Tokyo'
a['Japan'] = 'Kyoto'
a['Japan2'] = 'Kyoto'
a['China'] = 'Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'Japan2': 'Kyoto', 'China': 'Beijing'}

**update**
- 두 딕셔너리의 병합
- 겹치는 key 생길 시 parameter로 전달되는 키 값이 overwrite 된다
- key 값 지울 때 (a.pop(index) 혹은 del a['key'])

In [ ]:
a = {'a':1 , 'b':2, 'c':3}
print(a)

#key를 삭제할 때
a.pop('b')
print(a)
del a['c']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}
{'a': 1}

In [ ]:
#key값 존재 확인
a = {'a' :1, 'b':2, 'c':3}
b={1,2,3,4,5,6,7,8,9,10,100}
print(100 in b)
print(2 in a)
print('a' in a)

True
False
True

*이탤릭체 텍스트*### key, values 접근
- keys() : 키만 반환
- values() : 값만 반환
- items() : 키, 값의 튜플 반환

In [ ]:
print(a)
print(list(a.keys()))
print(list(a.values()))
list(a.items())

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

### set : 수학에서의 집합과 동일 개념, dictionary 에서 key만 활용하는 데이터 구조
- set()

In [ ]:
a = {1,1,2,3,3,4,1,6}
print(a)

{1, 2, 3, 4, 6}

In [ ]:
a = [1,1,2,3,3,4,1,6]
print(a)
print(type(a))

b=set(a)
print(b)
print(type(b))

[1, 1, 2, 3, 3, 4, 1, 6]
<class 'list'>
{1, 2, 3, 4, 6}
<class 'set'>

- set operations : 수학 연산과 동일 / 교집합, 합집합, 차집합 등

In [ ]:
a = {1,2,3}
b = {2,3,4}

## list, tuple

- list() : transform to list type

In [ ]:
a = 'hello world'
b = list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
c = (1,2,3)
d = list(c)
print(d)

[1, 2, 3]

- string split

In [ ]:
a = 'hello world nice weather'
b = a.split()
print(b)

c = a.split('w')
print(c)

['hello', 'world', 'nice', 'weather']
['hello ', 'orld nice ', 'eather']

- indexing : list[n]
- slicing : a[n1:n2] [:] [n: ] [ :n]

In [ ]:
a = [1,2,3,4,5,6,7]
print(a[3])
print(a[1:3])
print(a[:3])

4
[2, 3]
[1, 2, 3]

### list function
- append()
- extend()

In [ ]:
#append
a = [1,2,3,4,5]
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [ ]:
#extend
a = [1,2,3,4,5]
b = [6,7,8,9,10]

a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- insert() : list.insert(index, item)

In [ ]:
a = [1,2,3,6,8]
a.insert(3, 27)
a

[1, 2, 3, 27, 6, 8]

- remove() : remove(item)

In [ ]:
a = [1,2,3,4]
a.remove(3)
a

[1, 2, 4]

- pop() : list.pop(index)

In [ ]:
a = [1,2,3,4,5]
b = a.pop(4)
print(a)
print(b)

[1, 2, 3, 4]
5

- index() : list.index(item)

In [ ]:
a = [3,4,5]
a.index(3)
print(a)

[3, 4, 5]

### else
- in keyword : value in [list]
- sort() : 정렬

In [ ]:
a = [1,3,5,20,4,64]
6 in a
1 in a

True

In [ ]:
a.sort()
a

[1, 3, 4, 5, 20, 64]

### tuple : 변경 불가능

## 조건문/반복문

### condition
- 특정 조건을 만족하는 경우에만 수행할 작업이 있는 경우 사용
- 모든 조건은 boolean으로 표현
- if, elif, else
- 조건문의 경우 if, elif, else 블록에 종속된 코드는 들여쓰기로 표현 가능
- 들여쓰기 된 코드를 블록(block), 또는 코드블록이라고 함
- python에서 모든 블록의 시작점의 마지막에는 :(콜론, colon) 추가가 필요

In [ ]:
if 6>=5:
  print('6 is greater than 5')
  print('Yeah, it is true')
  print('This code is not belongs to if statements')

6 is greater than 5
Yeah, it is true
This code is not belongs to if statements

In [ ]:
if 6==5:
  print('a')
  print('b')
print('c')

c

logical AND, OR, NOT

In [ ]:
a = 10
b = 8
c = 11

if (a==10 or b==9) and c ==12:
  print('that is true')

if not a ==10:
  print('a is ten')

In [ ]:
#if 조건이 bool이 아닌 경우

In [ ]:
a=[]
if a :
  print('print')

- if, else

In [ ]:
a = 12
if a % 2 == 0 :
  print(a/2)
else:
  print(a+1)

6.0

- if, elif, else

In [ ]:
a = 17
if a % 4 == 0:
  print 'a is divisible by 4'
elif a % 4 == 1:
  print('a % 4 is 1')
elif a % 4 == 1:
  print('a % 4 is 2')
else:
  print('a % 4 is 3')

SyntaxError: ignored

### loop (while, for)
- 특정 조건을 만족하는 경우 수행할 수 있음 (while)
- 리스트, 문자열, 튜플 등 컬렉션 타입의 아이템을 하나씩 순회하면서 사용 가능 (for)

### WHILE

In [ ]:
#while

a = [1,10,9,24]

i = 0
while i < len(a):
  print('value: ', a[i], ', index: ', i)
  i += 1
print('hahaha')

value:  1 , index:  0
value:  10 , index:  1
value:  9 , index:  2
value:  24 , index:  3
hahaha

In [ ]:
a = [1,10,9,24,25,26]

# print only odd numbers

i=0
while i < len(a):
  if a[i] % 2:
    print(a[i])
  else:
    print(a[i]/2)
  i+=1

1
5.0
9
12.0
25
13.0

- 무한 loop (while)
- break = stop the loop

In [ ]:
a = [1,9,10,24,25,26]

i=0
while i<len(a):
  if a[i]>20:
    break
  print(a[i])

  i += 1
print('hahaha')

1
9
10
hahaha

### FOR 문
- 리스트, 문자열 등 순회하면서 값을 처리할 때 사용
- *i는 매번 수행될 때마다, a의 아이템으로 순차적으로 변경됨

```
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
```

In [ ]:
a = [2,3,4,5,6]
for number in a:
  print(number)
print('end')

2
3
4
5
6
end

In [ ]:
#문자열의 아이템 출력하기

for x in 'hello world':
  print(x)

a = 'hello world'
for character in a:
  print(character)

h
e
l
l
o

w
o
r
l
d
h
e
l
l
o

w
o
r
l
d

- list 아이템 출력하기

In [ ]:
a= [1,10,3,5,2]
for num in a:
  if num % 2 == 0:
    print(num/2)
  else:
    print(num+1)

2
5.0
4
6
1.0

### dict 아이템 출력
- key값을 기본적으로 참조하여 순회
- keys() 함수를 이용해 key값만 순회 가능
- values() 함수를 이용해 values 값만 순회 가능
- items() 함수를 이용해 tuple 형태로 key, value 순회 가능

In [ ]:
a = {'korea':'seoul', 'japan':'tokyo', 'canada':'ottawa'}
print(a['korea']) # key 값의 value 가져오기 (복습)

for key in a:
  print(key, ':', a[key])

seoul
korea : seoul
japan : tokyo
canada : ottawa

In [ ]:
for key in a:
  print(key)

korea
japan
canada

In [ ]:
for value in a.values():
  print(value)

seoul
tokyo
ottawa

In [ ]:
# key만 출력됨
for i in a:
  print(i)

korea
japan
canada

In [ ]:
list(a.items())
for key,value in a.items():
  print(key, value)

korea seoul
japan tokyo
canada ottawa

**for에서 index 사용하기**
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출
- 인덱스와 값을 모두 사용하려면? [enumerate 함수] 이용


```
a = [1,2,3,4,5]
for i, val in enumerate(a):
    print (i, val)
```

In [ ]:
a = [1,2,3,4,5]
for i, val in enumerate(a):
    print (i, val)

0 1
1 2
2 3
3 4
4 5

In [ ]:
a = [1,2,3,4,5]
for index, num in enumerate(a):
  if index > 3:
    print(index, num)

**break**
- for 의 경우에도 특정 조건일 때 loop 종료 가능

In [ ]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
  if num < 80:
    break
  print(num)

100
90
80

**continue**
- 해당 아이템을 건너뛰고 싶을 때 사용

In [ ]:
a = [100,90,80,70,60,50]
for num in a:
  if num >= 60 and num <= 70:  #이 조건에 해당하는 value를 제외하고 계속함
    continue
  print(num)

100
90
80
50

**loop중첩**
- 반복문도 중첩하여 사용 가능 : 반복문 블록의 코드 안에 또 반복문의 코드가 작성되는 것을 의미
- 내부 루프는 외부 루프가 수행되는만큼 반복 수행됨
- 중첩은 무한히 가능

In [ ]:
 a = [1,2,3]
 for i in a:
   for j in a:
     print(i*j)

1
2
3
2
4
6
3
6
9

In [ ]:
#구구단 출력하기
for i in range(2, 10, 1):
  for j in range(1, 10, 1):
    print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

**collection의 길이**
- len(a) 내장함수로 계산 가능
- abs, len, type, range

In [ ]:
a = [1,2,3,4,5,6,7,1]
len('hello world')

print(a)
print(len(a))

[1, 2, 3, 4, 5, 6, 7, 1]
8

**range 함수**
- 리스트를 쉽게 만들 수 있는 내장함수
- 주어진 값에 따라 다양한 결과를 변환
```
range(10) -> [0,1,2,3,4,5,6,7,8,9]
range(2, 10) -> [2,3,4,5,6,7,8,9]
range(2, 10, 3) -> [2,5,8] ~ 간격(3)
```

In [ ]:
#1-100 까지의 리스트 생성하기
list(range(101))
a=list(range(1,201))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [ ]:
#1~100사이의 5의 배수만을 갖는 리스트 생성
a = list(range(1, 101, 5))
print(a)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

### if & for 연습문제
1. 구구단을 2 - 9단까지 출력하시오.
2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.
3. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
#다르게 쓸수도 있음
x=2
while x<= 9:
  y = 1
  while y <= 9:
    print(x, 'x', y,'=',x*y)
    y+=1
  x+=1

In [ ]:
for i in range(1, 101):
  if i % 2 == 0 or i % 11 == 0 :
    print(i)

In [ ]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 
print(max(a))
print(min(a))

99
1

In [ ]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

sum(a)/len(a)

37.0

## 함수(function)
- 함수란 우리가 알고있는 개념처럼 주어진 입력(input)에 대해서 의도된 출력(output)를 전달하는 역할
- sum, len, range 같은 내장함수(built-in function)
 - range : 정수를 전달하면 [0, 정수)로 이루어진 리스트를 생성
 - sum : 리스트, 튜플을 입력값으로 전달하면 전체 아이템의 합을 출력으로 전달
 - len : 리스트, 튜플을 입력값으로 전달하면 아이템의 개수를 출력으로 전달

In [ ]:
a = [1,2,3,4]
print(len(a))
print(sum(a))

4
10

### 함수의 정의
- def 키워드 사용
- argument : 함수에 입력으로 전달하는 값(argument or parameter)
- :(콜론) 필요
- body
 - 함수를 호출한 코드 (caller)로 함수가 해당 기능을 수행하고 완료된 값(output)을 전달하기 위해 return 키워드 사용
 - 즉, return 이후에 오는 값을 caller로 전달
- 네이밍 : 어떤 기능을 하는 함수인지 명확히 나타낼 필요

In [ ]:
#더하기 함수
def add(x,y):
  n = x+y
  return n

#빼기 함수
def substract(x,y):
  sub=x-y
  return sub

**함수의 사용(호출)**
- 함수명(파라미터1, 파라미터2,...파라미터n)
- 인자(파라미터)를 괄호안에 전달하여 함수 호출
0 함수가 호출되면 실행 흐름이 호출자(caller)에서 함수(callee)로 변경됨

In [ ]:
a = add(30,40)
print(a)

s = substract(4,3)
print(s)

70
1

**parameter(argument) (인자)**
- 함수에 전달되는 입력(input)
- 파라미터 <- int, string, float, boolm, list, dict 등 어떤 파이썬 객체도 전달 가능 (함수도 전달 가능)
- python의 경우 타입 명시가 없기 때문에, 의도된 파라미터의 타입에 맞게 입력을 전달하는 것이 중요
-정의된 파라미터 순서에 따라 값을 전달하는 것이 중요

In [ ]:
def substract(x,y):
  sub=x-y
  return sub

a = substract(100,70)
print(a)

30

**Default parameter(기본인자)**
- 파라미터에 기본값 지정 가능
- 파라미터 명시 X -> 지정된 기본값으로 대체됨
 > e.g) 올바르지 않은 예 : def test(a, b = 1, c) , def test(a = 1, b, c) , def test(a = 1, b = 1, c)

In [ ]:
def add(x,y=10, z=3):
  a= x+y+z
  return a

print(add(10,1,2))
print(add(10,1))

13
14

- 기본 파라미터의 다른 예
 - sep, end, file

In [ ]:
print(1,2,3, sep="!", end = "%%%")

print(2,3,4, sep='p')

1!2!3%%%2p3p4

**return (리턴)**
- 기본적으로 함수의 종료를 명시
- return 옆에 값이나 수식이 있다면 해당 값을 호출자(caller)에게 반환(전달)
- return 만 존재하면 None 반환
- return이 없는 경우, 기본적으로 함수 코드 블록이 종료되면 종료로 간주. 이때도 None 반환.

In [ ]:
def weird_mulitply(x,y):
  if x>10:
    return x*y
  
  print(x+y)
  return(x+2)*y

weird_mulitply(12,5)

60

In [ ]:
def weird_mulitply(x,y):
  if x>10:
    return x*y

c=weird_mulitply(2,5)
print(c)

None

In [ ]:
#multiple return(복수값 반환)
def add_mul(x,y):
    s=x+y
    m=x*y
    return s,m

a,b=add_mul(2,3)
print(a,b)

5 6

In [ ]:
num1 = 10
num2 = 20

def test(num1, num2):
  print(num1, num2)
  return num1+num2

test(30,40)

30 40

70

**variable length argument(가변길이 인자)**
- *전달되는 파라미터 개수가 고정적이지 않은 경우 사용*
- print, format 함수
    > *args, ***kwargs

    > *args : 파라미터를 튜플 형태로 전달

    > **kwargs : 파라미터를 딕셔너리 형태로 전달

In [30]:
def test(*args):
  for item in args:
    print(item)

test(1,2,3,4,5,6,7)

1
2
3
4
5
6
7

**keyword 파라미터**
- **가 붙은 경우 키워드 파라미터로 인식
- 함수 호출 시, 파라미터의 이름과 값을 함께 전달 가능함

In [41]:
def test2(**kwargs):
  for key, value in kwargs.items():
    print('key:', key, ',', 'value:' , value)

test2(x=100, y=200, z='b')

key: x , value: 100
key: y , value: 200
key: z , value: b