# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [1]:
# Load and view first few lines of dataset
import pandas as pd
df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

### Proportion and admission rate for each gender

In [63]:
total= df['student_id'].count()
total

500

In [64]:
total_bygender = df.groupby('gender').count()
total_bygender

        student_id  major  admitted
gender
female         257    257       257
male           243    243       243

In [92]:
total_admitted= df.groupby(['gender','admitted']).count()
total_admitted

                 student_id  major
gender admitted
female False            183    183
       True              74     74
male   False            125    125
       True             118    118

In [71]:
#gender proportion
total_bygender / total

        student_id  major  admitted
gender
female       0.514  0.514     0.514
male         0.486  0.486     0.486

In [87]:
#admittion proportion for each gender
total_byadmitted / total

          student_id  gender  major
admitted
False          0.616   0.616  0.616
True           0.384   0.384  0.384

In [32]:
# Proportion of students that are male
male = df[df['gender'] == 'male']
male.shape[0] / df.shape[0]

0.486

### Proportion and admission rate for physics majors of each gender

In [88]:
# What proportion of female students are majoring in physics? (0.062)
physics = df['major'] == 'Physics'
df[physics].groupby('gender').count()['student_id']
df[physics].groupby('gender').count()['student_id'] / total

gender
female    0.062
male      0.450
Name: student_id, dtype: float64

In [90]:
# What proportion of male students are majoring in physics? (0.450)
physics = df['major'] == 'Physics'
df[physics].groupby('gender').count()['student_id']
df[physics].groupby('gender').count()['student_id'] / total

gender
female    0.062
male      0.450
Name: student_id, dtype: float64

In [102]:
# Admission rate for female physics majors (0.046)
pyhsics_female = (df['major'] == 'Physics') & (df['gender'] == 'female')
df[pyhsics_female].groupby('admitted').count()['student_id'] / total

admitted
False    0.016
True     0.046
Name: student_id, dtype: float64

In [103]:
# Admission rate for male physics  (0.232)
pyhsics_male = (df['major'] == 'Physics') & (df['gender'] == 'male')
df[pyhsics_male].groupby('admitted').count()['student_id'] / total

admitted
False    0.218
True     0.232
Name: student_id, dtype: float64

### Proportion and admission rate for chemistry majors of each gender

In [104]:
# What proportion of female students are majoring in chemistry? (0.452)
chemistry = df['major'] == 'Chemistry'
df[chemistry].groupby('gender').count()['student_id']
df[chemistry].groupby('gender').count()['student_id'] / total

gender
female    0.452
male      0.036
Name: student_id, dtype: float64

In [106]:
# What proportion of male students are majoring in chemistry? (0.036)

In [107]:
# Admission rate for female chemistry majors (0.102)
chemistry_female = (df['major'] == 'Chemistry') & (df['gender'] == 'female')
df[chemistry_female].groupby('admitted').count()['student_id'] / total

admitted
False    0.350
True     0.102
Name: student_id, dtype: float64

In [108]:
# Admission rate for male chemistry majors (0.004)
chemistry_male = (df['major'] == 'Chemistry') & (df['gender'] == 'male')
df[chemistry_male].groupby('admitted').count()['student_id'] / total

admitted
False    0.032
True     0.004
Name: student_id, dtype: float64

### Admission rate for each major

In [109]:
# Admission rate for physics majors
df[physics].groupby('admitted').count()['student_id'] / total

admitted
False    0.234
True     0.278
Name: student_id, dtype: float64

In [110]:
# Admission rate for chemistry majors
df[chemistry].groupby('admitted').count()['student_id'] / total

admitted
False    0.382
True     0.106
Name: student_id, dtype: float64