<a href="https://colab.research.google.com/github/Ahbin-Park/beluga/blob/main/%EB%B3%B5%EC%8A%B5code_210421_210429.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### string

In [ ]:
c = '''Hello
World'''

d = """Hello
World"""

print(c)
print(d)

Hello
World
Hello
World

In [ ]:
#escape string
 print('Hello world\n\n') #\n (new line)
 print('Ha\thahaha') #\t (tab)

IndentationError: ignored

In [ ]:
#indexing & slicing string
a = 'Hello World'
print(a[3])

print(a[0:4])
print(a[:4])

l
Hell
Hell

**문자열함수**
- replace('a','b') : a -> b
- format
- split

In [ ]:
a = 'hello world'
a.replace('h', 'b')

'bello world'

In [ ]:
temperature = 25.5
prob = 80.0

a = "today's temperature is {}, and {} % possibility of rain.".format(temperature, prob)
print(a)

today's temperature is 25.5, 80.0 % possibility of rain.

In [ ]:
a = 'hello world what a nice weather'
a.split('w')

['hello ', 'orld ', 'hat a nice ', 'eather']

### dictionary

In [ ]:
a = {'Korea':'Seoul', 'Canada':'Ottawa', 'USA':'Washington D.C'}
b = {0:1, 1:6}
print(b)

{0: 1, 1: 6}

In [ ]:
#. key 업데이트
a = {'Korea':'Seoul',
     'Canada':'Ottawa',
     'USA':'Washington D.C'}

a['Japan'] = 'Tokyo'
a['Japan'] = 'Kyoto'
a['Japan2'] = 'Kyoto'
a['China'] = 'Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'Japan2': 'Kyoto', 'China': 'Beijing'}

**update**
- 두 딕셔너리의 병합
- 겹치는 key 생길 시 parameter로 전달되는 키 값이 overwrite 된다
- key 값 지울 때 (a.pop(index) 혹은 del a['key'])

In [ ]:
a = {'a':1 , 'b':2, 'c':3}
print(a)

#key를 삭제할 때
a.pop('b')
print(a)
del a['c']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}
{'a': 1}

In [ ]:
#key값 존재 확인
a = {'a' :1, 'b':2, 'c':3}
b={1,2,3,4,5,6,7,8,9,10,100}
print(100 in b)
print(2 in a)
print('a' in a)

True
False
True

### key, values 접근
- keys() : 키만 반환
- values() : 값만 반환
- items() : 키, 값의 튜플 반환

In [ ]:
print(a)
print(list(a.keys()))
print(list(a.values()))
list(a.items())

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

### set : 수학에서의 집합과 동일 개념, dictionary 에서 key만 활용하는 데이터 구조
- set()

In [ ]:
a = {1,1,2,3,3,4,1,6}
print(a)

{1, 2, 3, 4, 6}

In [ ]:
a = [1,1,2,3,3,4,1,6]
print(a)
print(type(a))

b=set(a)
print(b)
print(type(b))

[1, 1, 2, 3, 3, 4, 1, 6]
<class 'list'>
{1, 2, 3, 4, 6}
<class 'set'>

- set operations : 수학 연산과 동일 / 교집합, 합집합, 차집합 등

In [ ]:
a = {1,2,3}
b = {2,3,4}

## list, tuple

- list() : transform to list type

In [ ]:
a = 'hello world'
b = list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
c = (1,2,3)
d = list(c)
print(d)

[1, 2, 3]

- string split

In [ ]:
a = 'hello world nice weather'
b = a.split()
print(b)

c = a.split('w')
print(c)

['hello', 'world', 'nice', 'weather']
['hello ', 'orld nice ', 'eather']

- indexing : list[n]
- slicing : a[n1:n2] [:] [n: ] [ :n]

In [ ]:
a = [1,2,3,4,5,6,7]
print(a[3])
print(a[1:3])
print(a[:3])

4
[2, 3]
[1, 2, 3]

### list function
- append()
- extend()

In [ ]:
#append
a = [1,2,3,4,5]
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [ ]:
#extend
a = [1,2,3,4,5]
b = [6,7,8,9,10]

a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- insert() : list.insert(index, item)

In [ ]:
a = [1,2,3,6,8]
a.insert(3, 27)
a

[1, 2, 3, 27, 6, 8]

- remove() : remove(item)

In [ ]:
a = [1,2,3,4]
a.remove(3)
a

[1, 2, 4]

- pop() : list.pop(index)

In [ ]:
a = [1,2,3,4,5]
b = a.pop(4)
print(a)
print(b)

[1, 2, 3, 4]
5

- index() : list.index(item)

In [ ]:
a = [3,4,5]
a.index(3)
print(a)

[3, 4, 5]

### else
- in keyword : value in [list]
- sort() : 정렬

In [ ]:
a = [1,3,5,20,4,64]
6 in a
1 in a

True

In [ ]:
a.sort()
a

[1, 3, 4, 5, 20, 64]

### tuple : 변경 불가능

## 조건문/반복문

### condition
- 특정 조건을 만족하는 경우에만 수행할 작업이 있는 경우 사용
- 모든 조건은 boolean으로 표현
- if, elif, else
- 조건문의 경우 if, elif, else 블록에 종속된 코드는 들여쓰기로 표현 가능
- 들여쓰기 된 코드를 블록(block), 또는 코드블록이라고 함
- python에서 모든 블록의 시작점의 마지막에는 :(콜론, colon) 추가가 필요

In [ ]:
if 6>=5:
  print('6 is greater than 5')
  print('Yeah, it is true')
  print('This code is not belongs to if statements')

6 is greater than 5
Yeah, it is true
This code is not belongs to if statements

In [ ]:
if 6==5:
  print('a')
  print('b')
print('c')

c

logical AND, OR, NOT

In [ ]:
a = 10
b = 8
c = 11

if (a==10 or b==9) and c ==12:
  print('that is true')

if not a ==10:
  print('a is ten')

In [ ]:
#if 조건이 bool이 아닌 경우

In [ ]:
a=[]
if a :
  print('print')

- if, else

In [ ]:
a = 12
if a % 2 == 0 :
  print(a/2)
else:
  print(a+1)

6.0

- if, elif, else

In [ ]:
a = 17
if a % 4 == 0:
  print 'a is divisible by 4'
elif a % 4 == 1:
  print('a % 4 is 1')
elif a % 4 == 1:
  print('a % 4 is 2')
else:
  print('a % 4 is 3')

# loop (while, for)
- 특정 조건을 만족하는 경우 수행할 수 있음 (while)
- 리스트, 문자열, 튜플 등 컬렉션 타입의 아이템을 하나씩 순회하면서 사용 가능 (for)

### WHILE

In [ ]:
#while

a = [1,10,9,24]

i = 0
while i < len(a):
  print('value: ', a[i], ', index: ', i)
  i += 1
print('hahaha')

value:  1 , index:  0
value:  10 , index:  1
value:  9 , index:  2
value:  24 , index:  3
hahaha

In [ ]:
a = [1,10,9,24,25,26]

# print only odd numbers

i=0
while i < len(a):
  if a[i] % 2:
    print(a[i])
  else:
    print(a[i]/2)
  i+=1

1
5.0
9
12.0
25
13.0

- 무한 loop (while)
- break = stop the loop

In [ ]:
a = [1,9,10,24,25,26]

i=0
while i<len(a):
  if a[i]>20:
    break
  print(a[i])

  i += 1
print('hahaha')

1
9
10
hahaha

### FOR 문
- 리스트, 문자열 등 순회하면서 값을 처리할 때 사용
- *i는 매번 수행될 때마다, a의 아이템으로 순차적으로 변경됨

```
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
```

In [1]:
a = [2,3,4,5,6]
for number in a:
  print(number)
print('end')

2
3
4
5
6
end

In [4]:
#문자열의 아이템 출력하기

for x in 'hello world':
  print(x)

a = 'hello world'
for character in a:
  print(character)

h
e
l
l
o

w
o
r
l
d
h
e
l
l
o

w
o
r
l
d

- list 아이템 출력하기

In [5]:
a= [1,10,3,5,2]
for num in a:
  if num % 2 == 0:
    print(num/2)
  else:
    print(num+1)

2
5.0
4
6
1.0

### dict 아이템 출력
- key값을 기본적으로 참조하여 순회
- keys() 함수를 이용해 key값만 순회 가능
- values() 함수를 이용해 values 값만 순회 가능
- items() 함수를 이용해 tuple 형태로 key, value 순회 가능

In [16]:
a = {'korea':'seoul', 'japan':'tokyo', 'canada':'ottawa'}
print(a['korea']) # key 값의 value 가져오기 (복습)

for key in a:
  print(key, ':', a[key])

seoul
korea : seoul
japan : tokyo
canada : ottawa

In [10]:
for key in a:
  print(key)

korea
japan
canada

In [11]:
for value in a.values():
  print(value)

seoul
tokyo
ottawa

In [12]:
# key만 출력됨
for i in a:
  print(i)

korea
japan
canada

In [14]:
list(a.items())
for key,value in a.items():
  print(key, value)

korea seoul
japan tokyo
canada ottawa

**for에서 index 사용하기**
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출
- 인덱스와 값을 모두 사용하려면? [enumerate 함수] 이용


```
a = [1,2,3,4,5]
for i, val in enumerate(a):
    print (i, val)
```

In [19]:
a = [1,2,3,4,5]
for i, val in enumerate(a):
    print (i, val)

0 1
1 2
2 3
3 4
4 5

In [ ]:
a = [1,2,3,4,5]
for index, num in enumerate(a):
  if index > 3:
    print(index, num)

**break**
- for 의 경우에도 특정 조건일 때 loop 종료 가능

In [25]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
  if num < 80:
    break
  print(num)

100
90
80

**continue**
- 해당 아이템을 건너뛰고 싶을 때 사용

In [26]:
a = [100,90,80,70,60,50]
for num in a:
  if num >= 60 and num <= 70:  #이 조건에 해당하는 value를 제외하고 계속함
    continue
  print(num)

100
90
80
50

**loop중첩